<div class="container-fluid">
  <div class="btc-page">
    <br>
    Poloniex比特币价格：¥ <%= @usdt_btc %>
    <br>
    云币网比特币价格：¥ <%= @btc_yunbi %>
    <br>
    <br>
    Poloniex以太坊价格：¥ <%= @usdt_eth %>
    <br>
    云币网以太坊价格：¥ <%= @eth_yunbi %>
    <br>
    <br>
    Poloniex SC价格：¥ <%= @usdt_sc %>
    <br>
    云币网 SC价格：¥ <%= @sc_yunbi %>
    <br>
    <br>
    Poloniex ZEC价格：¥ <%= @usdt_zec %>
    <br>
    云币网 ZEC价格：¥ <%= @zec_yunbi %>
    <br>
    <br>
    Poloniex DGB价格：¥ <%= @usdt_dgb %>
    <br>
    2017年6月6日，购买价格：0.34575，购买数量：5044颗
    <br>
    <%#= @exchange_rate %>
  </div>
</div>
