<div class="container">
  <br>
  <br>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>COIN</th>
        <th>云币网（¥）</th>
        <th>Poloniex（¥）</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BTC</td>
        <td><%= @btc_yunbi %></td>
        <td><%= @usdt_btc %></td>
      </tr>
      <tr>
        <td>ETH</td>
        <td><%= @eth_yunbi %></td>
        <td><%= @usdt_eth %></td>
      </tr>
      <tr>
        <td>ZEC</td>
        <td><%= @zec_yunbi %></td>
        <td><%= @usdt_zec %></td>
      </tr>
      <tr>
        <td>SC</td>
        <td><%= @sc_yunbi %></td>
        <td><%= @usdt_sc %></td>
      </tr>

      <tr>
        <td>BTS</td>
        <td><%= @bts_yunbi %></td>
        <td><%= @usdt_bts %></td>
      </tr>

    </tbody>
  </table>

    <%#= @exchange_rate %>

</div>
