<div class="container">
  <div id="pin_show" class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class=" panel-heading pin_image">
          <%= image_tag @pin.image.url %>
        </div>
        <div class="panel-body">
          <h1> <%= @pin.title %></h1>
          <p class="description">
            <%= @pin.description %>
          </p>
          <p>
            <%= @pin.user.email %>
          </p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-4">
              <div class="btn-group pull-left">
                <%= link_to("< 上一张", @pin.previous_pin) if @pin.previous_pin %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group handle">
                <% if current_user %>
                  <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
                  <%= link_to "Delete", pin_path, method: :delete, class: "btn btn-default", data: { confirm: "Ara you sure?" } %>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn-group pull-right">
                <%= link_to("下一张 >", @pin.next_pin) if @pin.next_pin %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
