<h1 id="page_title">这里是放文章的页面</h1>
<div id="posts_wrapper" class="skinny_wrapper">
  <div class="post">
    <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
    <h2><%= @post.title %></h2>
    <hr>
  </div>
  <div id="content">
     <%= markdown @post.content %>

  </div>

</div>

<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
    <h1> <%= @post.title %></h1>
    <hr>
  </header>
</div>

<br>
<br>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
