<div class="content">
  <!-- <div class="left-sidebar"> -->
      <!-- <ul> -->
        <!-- <li>  -->
          <%#= link_to "All Articles", posts_path %>
        <!-- </li> -->
        <%# Category.all.each do |category| %>
        <!-- <li> -->
          <%#= link_to category.name, posts_path(category: category.name) %>
        <!-- </li> -->
        <%# end %>
      <!-- </ul> -->

  <!-- </div> -->
  <div class="right-body">
    <div id="post_show_content" class="skinny_wrapper wrapper_padding">
      <header>
        <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
        <h1> <%= @post.title %></h1>
        <hr>
        <% if current_user %>
          <%= link_to "编辑", edit_post_path(@post), class: "btn btn-default" %>
          <%= link_to "删除", post_path(@post), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure you want to delete this post?"} %>
        <% end %>
        <br>
        <br>
        <br>
      </header>

      <div id="content">
        <%= markdown @post.content %>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
