<header id="main_navigation" class="clearfix">
  <%= link_to(root_path, class: "name") do %>
    <i class="fa fa-circle-o-notch" aria-hidden="true"></i> ZENG 的笔记本
  <% end %>
  <nav>
    <%= link_to("技术文章", posts_path) %>
    <a href="">参考资料</a>
    <% if !current_user %>
      <%= link_to("注册", new_user_registration_path) %>
      <%= link_to("登入", new_user_session_path) %>
    <% else %>
      Hi! Zeng.
      <%= link_to("登出", destroy_user_session_path, method: :delete) %>
    <% end %>
  </nav>
</header>
