<!DOCTYPE html>
<html>
  <head>
    <title>曾铮</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="no_width_padding" class="container-fluid">
    <%= render "common/navbar" %>

      <%= yield %>

    <%= render "common/footer" %>
  </div>
  </body>
</html>
